body {
	font-family: Arial;
	width: 100%;
}




.centered{
	text-align: center;
}

.flex-row {
	display: flex;
	flex-direction: row;

}

.flex-column {
	display: flex;
	flex: 33.33%;
	flex-direction: column;
}

.frame{
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  margin: 0px 35px;
}